/* Style 1 */
.content {
  padding: 44px;
  display: grid;
  grid-template-columns: auto auto;
}
p{
  font-size: 25px;
}
img {
  width: 110px;
  height: 110px;
  
}
header > div {
  display: flex;
  padding-top: 35px;
}
header {
  background-color: gainsboro;
  width: 100%;
}
hgroup {
  margin-left: 85px;
  margin-right: 50px;
}
#about {
  line-height: 30px;
}
/* contact  */
.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: black;
  width: 50%;
  margin: 0%;
  width: 50%;
}
.contacts {
  
  position: absolute;
  width: 80%;
  top: 50px;

  font-size: 20px;
  left: 800px;
}
dt {
  display: block;
  background-color: red;
  color: white;
}
dd > a {
  background-color: black;
  color: red;
  display: inline-block;
}
dd {
  background-color: black;
  color: red;
} 
#contact > h3 {
  display: contents;
} 
@media (min-width: 1320px) {
  #contact > h3 {
    display: none;
  }
}

@media (max-width: 1316px) {
  .contact{background-color: red;}
  .contacts {
    position: relative;
    left: 10px;
    width: 99%;
    color: black;
    width: 100%;
  }
  #contact {
    border-bottom: 2px solid #dcdcdc;
    height: 50px;
  }
  header > div {
    flex-direction: column;
    text-align: left;
  }
  img {
    width: 110px;
    height: 110px;
    margin-left: 40px;
  }

  section {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }

  dt {
    display: block;
    background-color: red;
    color: white;
    width: 150px;
  }
  dd > a {
    background-color: white;
    color: red;
    display: inline-block;
  }
  dd {
    background-color: white;
    color: red;
  }
}
/*---------  */
h3:before {
  content: "â—";
  color: red;
  font-size: 40px;
}
#hobbies {
  grid-column-start: 1;
  grid-column-end: 3;
}
#hobbies > ul{font-size: 25px;}
section > h3 {
  border-bottom: 2px solid #dcdcdc;
}
/* Competencies */
.skills-primary:before {
  content: "Main";
}
.skills-secondary:before {
  content: "Other";
}
.skills {
  width: 80%;
  margin-left: 30px;
}
.skill {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}
/* main */

.skills-primary .skill[data-skill="5"] {
  background-color: gainsboro;
  width: 90%;
}
.skills-primary .skill[data-skill="5"] > * {
  display: inline-block;
  width: 50%;
  background-color: red;
  font-size: 30px;
}
.skills-primary .skill[data-skill="3"] {
  background-color: gainsboro;
  width: 90%;
}
.skills-primary .skill[data-skill="3"] > * {
  display: inline-block;
  width: 35%;
  background-color: red;
  font-size: 30px;
}
.skills-primary .skill[data-skill="1"] {
  background-color: gainsboro;
  width: 90%;
}
.skills-primary .skill[data-skill="1"] > * {
  display: inline-block;
  width: 10%;
  background-color: red;
  font-size: 30px;
}
/* other */

.skills-secondary .skill[data-skill="9"] {
  background-color: gainsboro;
  width: 90%;
}
.skills-secondary .skill[data-skill="9"] > * {
  display: inline-block;
  width: 90%;
  background-color: #ff4b4b;
  font-size: 30px;
}
.skills-secondary .skill[data-skill="5"] {
  background-color: gainsboro;
  width: 90%;
}
.skills-secondary .skill[data-skill="5"] > * {
  display: inline-block;
  width: 50%;
  background-color: #ff4b4b;
  font-size: 30px;
}
.skills-secondary .skill[data-skill="7"] {
  background-color: gainsboro;
  width: 90%;
}
.skills-secondary .skill[data-skill="7"] > * {
  display: inline-block;
  width: 80%;
  background-color: #ff4b4b;
  font-size: 30px;
}

/* Experiences */

#competencies {
  margin-top: -9px;
}
.experience-type:after {
  content: " @";
}
.experience-date-separator {
  color: red;
}
.experience-date {
  color: gray;
  font-size: 20px;
}
.experience > h4 > * {
  color: red;
  font-size: 22px;
}
.experience {
  padding: 10px;
}

